# Virtual Environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Local data files
#intentionally NOT ignoreing the .duckdb file as it will be version controlled
data/raw/
data/processed/*.parquet
data/processed/*.csv

# IDE configuration
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Data Persistence Rules
data/raw/
data/processed/
data/*.duckdb

# Mac System Files
.DS_Store
